* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, 
ul, 
li, 
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

:root {
    --darkgray: #080B12;
    --lightgray: #141922;
    --gray: #282828;
}

.container {
    background-color: var(--lightgray);
    height: 100vh;
    color: white;
    display: flex;
}

.col__main {
    flex-grow: 1;
}

.col__player {
    height: auto;
    flex-shrink: 0;
    color: white;
    background-color: var(--gray);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.header {
    width: 200px;
    flex-shrink: 0;
    background-color: black;
}

/******** DEBUG **********/

.col__main {
    border: 5px solid red;
    height: 800px;
}

.col__player {
    border: 5px solid yellow;
    height: 100px;
    
}

.header{
    border: 8px solid green;
    width: 200px;
    height: 790px;
}

/***********************/




/* MEDIAQUERY MACRO-STRUTTURA */

@media screen and (max-width:576px) {
    .header {
        width: 80px;
    }

}

.row {
    display: flex;
    justify-content: space-between;
}